.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.div_box{
  width: 300px;
  height: 200px;
  box-shadow: 0px 2px 2px 2px rgba(17, 17, 17, .70);;
  text-align: center;
  position: relative;
  top: 200px;
  left: 200px;
}
.iconsquare {
  display: block;
  border-bottom: 10px solid rgba(17, 17, 17, .70);
  border-right: 8px solid transparent;
  border-top: 10px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  right: 20px;
  top: -20px;
}
.pub{
  position: absolute;
  border-radius: 10px;
  width: 100px;
  height: 60px;
  box-shadow: 0 5px 5px 5px rgba(21,20,201,.2);
  right: 323px;
  top: 135px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.page_num {
	text-align: right;
	margin: 40px 0 34px 0;
}

.page_num_a.active {
	background: #ff4c48;
	border-color: #ff4c48;
	color: #fff;
}

.page_num_a {
	display: inline-block;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 12px;
	color: #444444;
	border: 1px solid #efefef;
	margin-left: 8px;
	border-radius: 4px;
}

.page_num_a:link {
	color: #444444;
}

.page_num_a:visited {
	color: #444444;
}

.page_num_a:hover {
	background: #ff4c48;
	border-color: #ff4c48;
	color: #fff;
}

.page_num_a:active {
	color: #fff;
}

.page_num_a.active {
	background: #ff4c48;
	border-color: #ff4c48;
	color: #fff;
}